.row
{
    margin: 10px;
}

body
{
background-color: white;
}

.navbar
{
    border-radius: 0px;
    background-color: #faebd7;
}

.navbar-brand
{
  font-size: 40px;
  color: black;
  font-weight: bold;
}

.navbar-brand:hover
{
    color:  #ff7f50;
}

.nav
{
    margin: 0;
    padding: 0;
}

.navbar-nav{
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-toggle{
    border: 2px solid white;
    margin-right: 25px;
}

.icon-bar
{
    background-color: white;
}

.main-heading
{
    color: #800000;
    font-family: "Times New Roman";
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 50px;
}

li
{
      width: 100%;
    box-sizing: border-box;
}

.dish
{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    color: black;
    display: block;
}

.menu-title:hover
{
    background-color:  #add8e6;
    color: #fff0f5;
}

.food{
    color: #cd5c5c;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

a
{
    color: #6a2aa5;
    text-decoration: none;
}

.content-box
{
    margin: 20px;
    width: auto;
    height: auto;
    color: black;
    background-color: rgba(0,0,0,0.2);
    font-family: "Times New Roman";
    font-size: 20px;
    padding: 20px;
    padding-left: 10px;
}
